body{
    background-image : url("https://scontent.falg3-2.fna.fbcdn.net/v/t1.15752-9/343337872_578012257643574_2027333116055850169_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHSCHW6dRES3W2tIcSBOcJqcF-wJPFahVhwX7Ak8VqFWDZZYTbupfLcsIBQWr7Ykl28Y9vyP0kJ3GA230ROr3Ep&_nc_ohc=XiL0RP0jHBUAX8PRMRu&_nc_ht=scontent.falg3-2.fna&oh=03_AdRiQKeHT3P6N5pg2VqoSOxdkQaNNvLCpMWminAZIAi7HA&oe=6485FDAF");
}
.barre{
    background: #0a0707;
    width: 90px;
    height: 5px;
    border-radius: 2px;
    margin: 0 auto;
}
.formulaire{
    width: 100%;
    height: 100%;
    padding: 25px;

    align-items: center;

}
.formulaire form{
width: 90%;
height: 100%;
padding: 30px;
border-radius: 25px;
margin: 0 auto;
display: table;
box-shadow: inset 0 0 2px rgb(17, 17, 16);
background-color:beige;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #888;
    text-shadow: 2px 0 0 rgb(240, 165, 26) ;
}
label {
    font-size: 19px;
}
.formulaire .form1 , .formulaire .form2
{width: 40%;
display: inline-block;
margin: 50px;
}
.input {
width: 100%;
height: 30px;
outline: none;
border-radius: 6px;
border: 1px solid #e6e6e6;
}
.input:hover
{
    border: 2px solid #235a81;
    font-weight: bold;
}
.button input
{width: 90%;
padding: 8px;
align-items: center;
background: #444;
color: #fff;
font-size: 19px;
border: none;
border-radius: 10px;
transition: all .4s ease-in;
margin: 0 auto;
display: table;
cursor: pointer;

}
.button input:hover
{
    background:#888 ;
    transition: all .4s ease;

}
